<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>32000</string>
	<string>CYCdh_K5-Kick01.wav</string>
	<string>1</string>
	<string>1</string>
	<string>CYCdh_K5-Snr04.wav</string>
	<string>2</string>
	<string>2</string>
	<string>CYCdh_K5-Tom01c.wav</string>
	<string>3</string>
	<string>3</string>
	<string>CYCdh_K5-Tom02c.wav</string>
	<string>4</string>
	<string>4</string>
	<string>CYCdh_K5-ClHat01.wav</string>
	<string>5</string>
	<string>5</string>
	<string>CYCdh_K5-OpHat02.wav</string>
	<string>6</string>
	<string>6</string>
</array>
</plist>
